<div style="text-align: center; padding: 1rem;">
  <img src="<%= data.apiUrl %>/api/email/images/image/activation-url.png?uuid=<%= data.uuid %>" alt="Cabecera" style="width: 100%; max-width: 600px;">
  <h1 style="color: #444; margin-bottom: 1rem;">¡Welcome to our platform!</h1>
  <p style="color: #666; font-size: 1.2rem; margin-bottom: 2rem;">We're very happy to have you with us. If you have any questions, please don't hesitate to contact us. Now you just need to press the activation button and choose a password for your account.</p>
  <a href="<%= data.activationUrl %>" style="background-color: #007bff; color: #fff; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Activate account</a>
</div>